@media (min-width:769px){  
body 	{background-color: #E5E5E5;}
header{display:none;}
aside{	float:left;
		width:15%;
		height: 100%;
		margin-left: 2.5%;
	}
	.link{text-decoration: none
		color:black;}
.aside-profile1{	background:#5784BA;
					border-radius: 20px;	
				}
											#notif{				width:1.4vw;
																margin-top: 10%;
																margin-left: 85%;		
											}
											#mini-profile{		width: 5vw;
																height: 10vh;
																margin-left: 8%;
																margin-top: 10%;
											}
											.name-profile{		font-family: Roboto;
																font-style: normal;
																font-weight: 500;
																font-size: 1.3vw;
																color: #ffffff;
																margin-top: 9%;
																margin-left:6%;
											}

											.status{  			font-family: Roboto;
																font-style: normal;
																font-weight: normal;
																font-size: 1vw;
																color: #ffffff;
																margin-top: -7%;
																margin-left: 6%;
																padding-bottom: 20%;
											}
											.menu{				font-family: Montserrat;
																font-style: normal;
																font-weight: 600;
																font-size: 1.2vw;
																color:#ffffff;
																margin-bottom: 20%;

											}
											#profile-icon{		font-family: Montserrat;
																font-style: normal;
																font-weight: 600;
																width: 1.7vw;
																color: #FFFFFF;	
																margin-left: 5%;
											}

.aside-profile2{	background: #FFFFFF;
					border-radius: 20px;
					padding-top:10%;
					padding-bottom: 20%;
					margin-top:-15%;

				}
												.selected-menu{		font-family: Montserrat;
																	font-style: normal;
																	font-weight: 600;
																	font-size: 1.2vw;
																	color: #202020;
																	padding-bottom: -8%;
												}
.aside-profile3{	background:#5784BA;
					border-radius: 20px;
					padding-top: 10%;
					margin-top: -10%;	
					height:100%;
				}					
												label-2{		font-family: Montserrat;
																font-style: normal;
																font-weight: 600;
																font-size: 1.2vw;
																color: #FF1313;
																margin-bottom: 40%;
														}
article{
	width:100%;
}
.article1{}
									#title{
														font-family: Montserrat;
														font-style: normal;
														font-weight: bold;
														font-size: 2vw;
														margin-left: 21%;
														color: #000000;
											}
								#article-bg{			width:75%;
														height: 50%;
														float:right;
														margin-right: 3%;
														border-radius: 20px 20px 0px 0px;
														background: #EDEDED;
											}
								#bg-layer2	{			width:75%;
														height: 52.2%;
														float:right;
														margin-right: 3%;
														margin-top: -22.5%;
														background: linear-gradient(0deg, #EDEDED -94.8%, 
																	rgba(0, 0, 0, 0) 122%);
														border-radius: 20px 20px 0px 0px;
											}


								.icon-comp{				width:15vw;
														margin-top: -15%;
														margin-left: 10%;
											}
								.icon-comp2{display:none;}
								.sub{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2.5vw;
														color: #000000;
														margin-top: 20%;
														margin-left: 35%;
											}
								.description{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 1.2vw;
														color: #000000;
														margin-left: 35%;
											}
								.btn{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2vw;
														color: #FEFEFE;
														background: #57BA61;
														border-radius: 23.4px;
														margin-left: 80%;
														margin-top:-5%;
											}

.article2{		background-color: white;
				width:75%;
				height: auto;
				margin-right: 3%;	
				margin-top: -2%;
				float:right;
				padding: 2%;
		}
								.title-content{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 600;
														font-size: 1.8vw;
														color: #000000;
								}
								.content{
														font-family: Roboto;
														font-style: normal;
														font-weight: 300;
														font-size: 1.3vw;
														color: #000000;

								}
								.line{width:95%;
								}
								.navbar{display:none;}}


@media (max-width:768px)and (min-width: 426px){  
	aside{display:none;}
	body 	{background-color: #E5E5E5;}
	.link{text-decoration: none
									color:black;}
	article{width:100%;}
	header .container-2{ width: 100%;
	background-color: #5784BA;

	 }
.header1{background-color: white;
			color:black;
			font-size: 3vw;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			text-decoration: none;
			border-radius: 5px;
			margin-right: 2%;}
.header2{background-:none;
			color:black;
			font-size: 3vw;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			text-decoration: none;
			border-radius: 5px;
			margin-right: 2%;}
.article1{}
									#title{
														font-family: Montserrat;
														font-style: normal;
														font-weight: bold;
														font-size: 2.4vw;
														margin-left: 3%;
														margin-top: 3%;
														color: #000000;
											}
								#article-bg{			width:100vw;
														height: 65%;
														border-radius: 20px 20px 0px 0px;
														background: #EDEDED;
														margin-left: 60px;

											}
								#bg-layer2	{			width:100vw;
														height: 65%;
														background: linear-gradient(0deg, #EDEDED -94.8%, 
																	rgba(0, 0, 0, 0) 122%); 
														border-radius: 20px 20px 0px 0px;
														margin-top: -52%;
														margin-left: 60px;
											}
								.icon-comp2{			width:25vw;
														margin-top: 40%;
														margin-left: 5%;
											}
								.icon-comp{display:none;}
										


								.sub{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 800;
														font-size: 3vw;
														color: #000000;
														margin-top: -20%;
														margin-left: 40%;

											}
								.description{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2vw;
														color: #000000;
														margin-left: 30%;
											}
								.btn{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2vw;
														color: #FEFEFE;
														background: #57BA61;
														border-radius: 23.4px;
														margin-left: 85%;
														margin-top:-6%;
											}
.article2{		background-color: white;
				width:100%;
				height: auto;
				margin-top: -12%;
				padding-top: 35%;
				margin-left: 60px;

				
		}
								.title-content{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 600;
														font-size: 2.3vw;
														color: #000000;
								}
								.content{
														font-family: Roboto;
														font-style: normal;
														font-weight: 300;
														font-size: 2.1vw;
														color: #000000;

								}
								.line{width:100%;
								}
								}









@media (max-width: 425px){  
	aside{display:none;}
	body 	{background-color: #E5E5E5;}
	article{width:100%;}
	header .container-2{ width: 100%;
	background-color: #5784BA;

	 }
.header1{background-color: white;
			color:black;
			font-size: 3vw;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			text-decoration: none;
			border-radius: 5px;
			margin-right: 2%;}
.header2{background-:none;
			color:black;
			font-size: 3vw;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			text-decoration: none;
			border-radius: 5px;
			margin-right: 2%;}
.article1{}
									#title{
														font-family: Montserrat;
														font-style: normal;
														font-weight: bold;
														font-size: 3.5vw;
														margin-left: 3%;
														margin-top: 3%;
														color: #000000;
											}
								#article-bg{			width:100vw;
														height: 45%;
														border-radius: 20px 20px 0px 0px;
														background: #EDEDED;
														margin-left: 20px;

											}
								#bg-layer2	{			width:100vw;
														height: 45%;
														background: linear-gradient(0deg, #EDEDED -94.8%, 
																	rgba(0, 0, 0, 0) 122%);
														 
														border-radius: 20px 20px 0px 0px;
														margin-top: -62%;
														margin-left: 20px;
											}
								.icon-comp2{			width:25vw;
														margin-top: 40%;
														margin-left: 5%;
											}
								.icon-comp{display:none;}
										


								.sub{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 800;
														font-size: 3vw;
														color: #000000;
														margin-top: -12%;
														margin-left: 30%;

											}
								.description{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2.5vw;
														color: #000000;
														margin-left: 30%;
											}
								.btn{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 500;
														font-size: 2vw;
														color: #FEFEFE;
														background: #57BA61;
														border-radius: 23.4px;
														margin-left: 80%;
														margin-top:0%;
											}
.article2{		background-color: white;
				width:100%;
				height: auto;
				margin-top: -25%;
				padding-top: 35%;
				margin-left: 17px;

				
		}
								.title-content{
														font-family: Montserrat;
														font-style: normal;
														font-weight: 600;
														font-size: 3.5vw;
														color: #000000;
								}
								.content{
														font-family: Roboto;
														font-style: normal;
														font-weight: 300;
														font-size: 3vw;
														color: #000000;

								}.link{text-decoration: none
									color:black;}
								.line{width:100%;
								}}


								



